/* header */
.header {
  width: 100%;
  height: 70px;
  background: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 40px;
}
/* estilo del logo */
.header__logo {
  width: 70px;
  background-color: transparent;
}

.header__navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--black-color);
}

.header__navbar ul li {
  background: var(--black-color);
  margin: 0 15px;
  list-style: none;
}
.header__navbar ul li a {
  background: var(--black-color);
  color: var(--white-color);
  text-decoration: none;
  font-size: var(--normal);
}

.header__navbar ul li a:hover {
  color: var(--blue-color);
}
.header__navbar .curriculum a {
  width: 80px;
  height: 35px;
  background-color: none;
  color: var(--white-color);
  font-weight: 600;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__navbar .curriculum a:hover {
  color: black;
  background: var(--blue-color);
  transition: background-color 0.8s ease-out;
}

/* fin header */
