/* content */
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

/* seccion de presentacion */
.presentation__initial {
  color: var(--white-color);
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: calc(100vh - 70px);
}

.presentation__initial h1 {
  font-size: 4.2rem;
  margin-bottom: 10px;
}

.presentation__initial p {
  color: var(--blue-color);
  font-weight: 600;
}

.presentation__initial button {
  margin-top: 20px;
}
/* fin presentation */

/* seccion aboutme */
.presentation__aboutMe {
  display: flex;
  margin: 0 auto;
}

.presentation__aboutMe img {
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}

.presentation__description p {
  width: 80%;
  margin: 5px 0 0 5px;
  line-height: 1.6;
}

ul.col3 {
  color: var(--white-color);
  padding-top: 0px;
  padding-left: 25px;
  padding-bottom: 0px;
  padding-right: 0px;
  float: left;
  margin: 15px 0px;
  width: 100%;
}

ul.col3 li {
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  display: inline;
  float: left;
  width: 40%;
  font-size: var(--normal);
}

/* estilos para iconos de programacion */
.col3 i {
  margin-right: 4px;
}
.fa-html5 {
  color: orange;
}
.fa-css3-alt {
  color: var(--blue-color);
}
.fa-react {
  color: var(--borderblue-color);
}
.fa-js-square {
  color: yellow;
}
.fa-node-js {
  color: greenyellow;
}
