.header #nav-check {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.header #nav-check:focus ~ .nav-toggle {
  box-shadow: 0 0 10px var(--blue-color);
}
.header label.nav-toggle {
  height: 34px;
  width: 44px;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}
.header label.nav-toggle span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: var(--blue-color);
  position: relative;
}
.header #nav-check:checked ~ .nav-toggle span {
  background-color: transparent;
}
.header label.nav-toggle span::before,
.header label.nav-toggle span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--blue-color);
}
.header label.nav-toggle span::before {
  transform: translateY(-6px);
}
.header #nav-check:checked ~ .nav-toggle span::before {
  transform: rotate(45deg);
}
.header label.nav-toggle span::after {
  transform: translateY(6px);
}
.header #nav-check:checked ~ .nav-toggle span::after {
  transform: rotate(-45deg);
}
