:root {
  --col-width: 8.33333333333%;
}
.row {
  display: flex;
}
.row1 {
  display: flex;
  flex-direction: row-reverse;
}
.col-1 {
  width: var(--col-width);
}
.col-2 {
  width: calc(var(--col-width) * 2);
}
.col-3 {
  width: calc(var(--col-width) * 3);
}
.col-4 {
  width: calc(var(--col-width) * 4);
}
.col-5 {
  width: calc(var(--col-width) * 5);
}
.col-6 {
  width: calc(var(--col-width) * 6);
}
.col-7 {
  width: calc(var(--col-width) * 7);
}
.col-8 {
  width: calc(var(--col-width) * 8);
}

.projects {
  width: 100%;
  margin: 0 auto;
}

.projects > h2 {
  margin-top: 10%;
}
.project__content {
  padding: 20px 0 0 20px;
}
.project__content img {
  max-width: 300px;
  text-align: center;
  width: 100%;
  margin: auto;
  border-radius: 4px;
}

.project__content h2 {
  border-bottom: none;
  font-size: 1.8rem;
}
