/*Social media*/
.social__media {
  position: fixed;
  width: 50px;
  height: 35%;
  left: 20px;
  bottom: 0;
  background: var(--blackground-color);
}

.social__media ul {
  background: var(--blackground-color);
  height: 100%;
  width: 100%;
  list-style: none;
}

.social__media ul li {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  margin: 25px 0;
}

.social__media ul li a {
  position: relative;
  color: var(--gray-color);
  padding: 0 12px;
  display: block;
  width: 100%;
}

.social__media ul li a:hover {
  color: var(--blue-color);
}
/* fin social media */
