/* ----------Variables----------- */
:root {
  --blackground-color: #222;
  --black-color: #1a1a1a;
  --blue-color: #25a6ff;
  --white-color: white;
  --gray-color: gray;
  --borderblue-color: #25a6ff;
  /* Tipografia */
  --normal: 1.6rem;
}
/* como usar las variables 
main {
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
} */
/* ----------Variables----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--blackground-color);
  line-height: 1.6;
}

/* Manejo de medidas rem para las fuentes */
/* ej 14px  == a 1.4rem */
html {
  font-size: 62.5%;
}

h2 {
  color: var(--blue-color);
  font-size: 3.2rem;
  border-bottom: 1px solid var(--borderblue-color);
  margin-bottom: 25px;
}

p {
  font-size: var(--normal);
  color: var(--gray-color);
}
button {
  width: 100px;
  height: 40px;
  font-size: var(--normal);
  font-weight: 600;
  color: var(--white-color);
  border: 1px solid var(--blue-color);
  border-radius: 4px;
}

button:hover {
  background: var(--blue-color);
  transition: background-color 0.8s ease-out;
  /* background-image: linear-gradient(0, #6b9bdd 0, #4684cc 50%, #016ebb 100%); */
}
/* header */
.header {
  width: 100%;
  height: 70px;
  background: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 40px;
  border-bottom: 1px solid var(--blue-color);
}
/* estilo del logo */
.header__logo {
  width: 70px;
  background-color: transparent;
}

.header__navbar ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--black-color);
}

.header__navbar ul li {
  background: var(--black-color);
  margin: 0 15px;
  list-style: none;
}
.header__navbar ul li a {
  background: var(--black-color);
  color: var(--white-color);
  text-decoration: none;
  font-size: var(--normal);
}

.header__navbar ul li a:hover {
  color: var(--blue-color);
}

/* fin header */

/* content */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

/* seccion de presentacion */
.presentation,
.presentation__initial {
  color: var(--white-color);
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: calc(100vh - 70px);
}

.presentation__initial h1 {
  font-size: 4.2rem;
  margin-bottom: 10px;
}
.presentation__initial p {
  color: var(--blue-color);
  font-weight: 600;
}
.presentation__initial button {
  margin-top: 20px;
}

/* fin presentation */

/* seccion aboutme */
.presentation__aboutMe {
  display: flex;
  margin: 0 auto;
}
.presentation__aboutMe img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 4px;
}
.presentation__description p {
  width: 80%;
  margin: 5px 0 0 5px;
  line-height: 1.6;
}
ul.col3 {
  color: var(--white-color);
  padding-top: 0px;
  padding-left: 25px;
  padding-bottom: 0px;
  padding-right: 0px;
  float: left;
  margin: 15px 0px;
  width: 100%;
}
ul.col3 li {
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
  display: inline;
  float: left;
  width: 40%;
  font-size: var(--normal);
}
.col3 i {
  margin-right: 4px;
}
.fa-html5 {
  color: orange;
}
.fa-css3-alt {
  color: var(--blue-color);
}
.fa-react {
  color: var(--borderblue-color);
}
.fa-js-square {
  color: yellow;
}
.fa-node-js {
  color: greenyellow;
}

/* inicio seccion proyectos */
.presentation__certification {
  width: 100%;
  height: calc(100vh - 100px);
  margin-top: 25px;
}
.certification__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 500px));
  justify-content: center;
  gap: 28px;
}
.certification {
  cursor: pointer;
  position: relative;
  display: block;
}
.certification__image {
  margin: 0;
}
.certification__image img {
  width: 100%;
  /* vertical-align: top; */
}
.certification__overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  text-align: center;
}
.certification:hover .certification__overlay {
  display: flex;
}
.certification__comments {
  width: 80px;
  margin: 5px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
/* codigo para responsive
@media screen and (max-width: 768px) {
  .projects__list {
    grid-template-columns: repeat(1, minmax(100px, 293px));
    gap: 3px;
  }
} */
/* fin seccion projects */
/*Social media*/
.social__media {
  position: fixed;
  width: 50px;
  height: 35%;
  left: 20px;
  bottom: 0;
  background: var(--blackground-color);
}

.social__media ul {
  background: var(--blackground-color);
  height: 100%;
  width: 100%;
  list-style: none;
}

.social__media ul li {
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
  margin: 25px 0;
}

.social__media ul li a {
  position: relative;
  color: var(--gray-color);
  padding: 0 12px;
  display: block;
  width: 100%;
}

.social__media ul li a:hover {
  color: var(--blue-color);
}
/* fin social media */

/* footer */
.footer {
  margin: 10px 0;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.footer p:hover {
  color: var(--blue-color);
}
